.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}


html:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -5;
  background: rgb(6,33,51);
  background: linear-gradient(0deg, rgba(6,33,51,1) 0%, rgba(10,59,90,0.85) 100%);
}

html:after {
  content: "";
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -4;
  background-image: url('../img/bg_arrows.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  height: 100%;
  background-size: cover;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  background-image: url('../img/bg.png');
  background-size: 75px;
  background-repeat: repeat;
  background-attachment: initial;
  z-index: -5;
}
hr{
  background-color: #D91EBA;
  opacity: 1;
}
.text-mirai, .text-warning{
  color: #D91EBA!important;
}
.text-miraiblu, .text-success{
  color: #13DCF2!important;
}

.navbar.navbar-mirai {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #0A3B5A;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.navbar.navbar-mirai .navbar-brand.brand-mirai{
  font-size: initial;
  line-height: initial;
  padding: 0;
}
.navbar-collapse{
  background-image: url('../img/bgline.svg');
  background-position: left 30px;
  background-repeat: repeat-x;
}

.navbar.navbar-mirai .dropdown-menu-dark {
  color: #D91EBA;
  background-color: rgba(0, 0, 0, .8);
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active, .dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
  background-color: #D91EBA;
}

.dropdown-menu-dark .dropdown-divider, .dropdown-menu .dropdown-divider{
  opacity: 1;
}
.bootstrap-select .dropdown-menu li a:hover{
  color: #0B3B59;
  background-color: #13DCF2;
}

.dropdown-menu{
  color: #D91EBA;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid;
}

.dropdown-item {
  color: #13DCF2;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  color: #13DCF2;
}

.bs-select-all.btn.btn-light, .bs-deselect-all.btn.btn-light {
  background-color: transparent;
  border: 1px solid #D91EBA;
  color: #D91EBA;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bs-select-all.btn.btn-light:hover, .bs-deselect-all.btn.btn-light:hover {
  color: #fff;
  background-color: #D91EBA;
}

.corner{
  position: absolute;
  top: 0;
  right: 0;
}

.card.card-mirai {
  position: relative;
  background-color: rgba(0, 0, 0, .25);
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(225deg, rgba(0,0,0,.3),rgba(0,0,0,.2));
  background-size: 10px 10px;
  border-color: #D91EBA;
  border-radius: 0;
  color: rgba(255,255,255,.70);
}
.card.card-mirai.card-mirai-dark{
  background-color: rgba(0, 0, 0, .75);  
}
.card .card-arrow {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  pointer-events: none;
}
.card .card-arrow-top-left{
  border-top: 1px solid;
  border-left: 1px solid;
}
.card .card-arrow-bottom-left{
  border-bottom: 1px solid;
  border-left: 1px solid;
}
.card .card-arrow-top-right{
  border-top: 1px solid;
  border-right: 1px solid;
}
.card .card-arrow-bottom-right{
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.card .card-arrow-bottom-left, .card .card-arrow-top-left {
  left: 0;
}
.card .card-arrow-bottom-right, .card .card-arrow-top-right {
  right: 0;
}
.card .card-arrow-top-left, .card .card-arrow-top-right {
  top: 0;
}
.card .card-arrow-bottom-left, .card .card-arrow-bottom-right {
  bottom: 0;
}
.card .card-arrow-bottom-left, .card .card-arrow-bottom-right, .card .card-arrow-top-left, .card .card-arrow-top-right {
  width: 10px;
  height: 10px;
  position: absolute;
  border-color: #13DCF2;
}

.card.card-mirai .card-header {
  border-bottom: 1px solid #D91EBA;
  color: #19f0f0;
}

.btn-outline-primary.btn-mirai{
  color: #13DCF2;
  border-color: #13DCF2;
  background-color: transparent;
}
.btn-outline-primary.btn-mirai:hover {
  color: #0B3B59;
  background-color: #13DCF2;
  border-color: #13DCF2;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  background-color: #13DCF2;
  border: 1px solid #13DCF2;
  color: #0B3B59;
}
.btn-success{
  background-color: transparent;
}

.popover {
  background: rgba(0, 0, 0, .85);
  border-color: #D91EBA;
  color: #13DCF2;
}
.popover-header {
  background: transparent;
}
.popover-body {
  color: #13DCF2;
  border-top: 1px solid #D91EBA;
}
.bs-popover-top .popover-arrow::before {
  border-top-color: #D91EBA;
}
.bs-popover-top .popover-arrow::after {
  border-top-color: rgba(0, 0, 0, .85);
}

.bs-popover-end .popover-arrow::before {
  border-right-color: #D91EBA;
}
.bs-popover-end .popover-arrow::after {
  border-right-color: rgba(0, 0, 0, .85);
}

.bs-popover-bottom .popover-arrow::before {
  border-bottom-color: #D91EBA;
}
.bs-popover-bottom .popover-arrow::after {
  border-bottom-color: rgba(0, 0, 0, .85);
}

.bs-popover-start .popover-arrow::before {
  border-left-color: #D91EBA;
}
.bs-popover-start .popover-arrow::after {
  border-left-color: rgba(0, 0, 0, .85);
}

input[type="file"]{
  background-color: transparent;
  border: 1px solid #13DCF2;
  color: #13DCF2;
}

input[type="file"]::file-selector-button {
  border: 1px solid #13DCF2;
  color: #13DCF2;
  background-color: transparent;
  padding: .2em .4em;
}

input[type="file"]:focus, input[type="file"]:hover::file-selector-button, input[type="file"]:hover::file-selector-button {
  background-color: #13DCF2!important;
  border: 1px solid #13DCF2;
  color: #0B3B59;
}

textarea.form-control, textarea.form-control:focus, textarea.form-control:disabled, textarea.form-control[readonly]{
  background-color: transparent;
  border-color: #13DCF2;
  color: #13DCF2;
  resize: none;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.flashes{
  position: absolute;
  top: 65px;
  right: 0;
  padding-right: 2rem;
  max-width: 50%;
  z-index: 10;

  animation-name: appear;
  animation-duration: .5s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: .5s;
}

.alert-success {
  color: #13DCF2;
  background-color: rgba(0, 0, 0, .6);
  border-color: #13DCF2;
}

.alert-danger {
  color: #D91EBA;
  background-color: rgba(0, 0, 0, .6);
  border-color: #D91EBA;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, .35);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  color: #13DCF2;
  border: 1px solid #13DCF2;
  border-radius: 5px;
}
.slider:hover {
  opacity: 1; 
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 30px; 
  height: 30px; 
  background: #13DCF2; 
  cursor: pointer;
  border-radius: 5px; 
}
.slider::-moz-range-thumb {
  width: 30px; 
  height: 30px; 
  background: #13DCF2;
  cursor: pointer; 
  border-radius: 5px;
}

.number-mirai {
  background: rgba(0, 0, 0, .35);
  border: 1px solid #13DCF2;
  border-radius: 5px;
  color: #13DCF2;
  text-align: center;
  height: 30px;
}
.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .85);
  z-index: 9999;
}
.underconstruction{
  background-image: url('../img/underconstruction.png');
  background-size: cover;
  height: 100vh;

  animation-name: appear;
  animation-duration: 1s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
thead, tboby{
  border-color: #D91EBA!important;
}
tbody{
  color: rgba(255, 255, 255, .70);
}
.table-hover>tbody>tr:hover {
  color: #13DCF2;
}
tbody>tr:last-child>th,tbody>tr:last-child>td{
  border:none;
}
.modal {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  opacity: 1 !important;
}
/*D3 CHARTS*/
/*Gauge*/
#power-gauge{
  display: flex;
  align-items: center;
  justify-content: center;
}
#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #ffffff;
  stroke: #ffffff;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 10px;
  font-weight: bold;
  fill: #fff;
}

/*Bubbles and Bars*/
.domain {
  stroke: #13DCF2;
}
.tick line {
  stroke: #13DCF2;
}
.bubbles:hover, .bars:hover{
  opacity: 1!important;
}
#hazard_chart{
  position: relative;
}

/* RISK LIST */
.checkbox-container.checkbox-all-container:hover {
  background: none;
}
.checkbox-container.checkbox-all-container .checkmark {
  border-color: #D91EBA;
}
.checkbox-container.checkbox-all-container input:checked ~ .checkmark{
  background-color: #D91EBA;
}
.checkbox-container.checkbox-all-container .checkmark:after{
  border-color: white;
}
.checkbox-container {
  position: relative;
  padding: 5px 0 5px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container:hover {
  background-color: rgba(0, 0, 0, .3);
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #13DCF2;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color 
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
*/
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #13DCF2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 0px;
  width: 7px;
  height: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ANIMATIONS */

html.animated:before{
  animation-name: appear;
  animation-duration: 1s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
html.animated:after{
  animation-name: bg_arrows;
  animation-duration: 1s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: .3s;
}

.navbar.navbar-mirai.animated{
  animation-name: navbar;
  animation-duration: .3s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.top-logo.animated{
  animation-name: from_left;
  animation-duration: .5s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: .5s;
}

.card.card-mirai.animated {
  animation-name: card_frame;
  animation-duration: 1.5s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: .7s;
}

.card.card-mirai.animated .card-header {
  animation-name: appear;
  animation-duration: 1s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1.6s;
}

.card.card-mirai.animated .card-body {
  animation-name: appear;
  animation-duration: 1s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.btn.animated{
  animation-name: appear;
  animation-duration: 1s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.popup-container.animated{
  animation-name: appear;
  animation-duration: .3s;  
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.btn-disabled{
  cursor: not-allowed;
  pointer-events: none;
}
.btn-outline-primary.btn-mirai.btn-disabled{
  color: rgba(255, 255, 255, .70);
  border-color: rgba(255, 255, 255, .70);
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 

}