{% extends 'bias/home.html' %}

{% block title %}
BRIO - Bias Assessment - FreqvsFreq
{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col themed-grid-col">
      <div class="row">
        <div class="py-3 my-2">
          <h1 class="text-white text-start rajdhani-bold top-logo {{ animated }} text-uppercase">Freq vs Freq Analysis</h1>
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <div class="card card-mirai {{ animated }}">
            <div class="card-body">
              <p>Check how much the predictions for the target variable differ with respect to the categories of a "root variable", overall and conditioned to the categories of other selected predictors.</p>
              <ul class="mb-0">
                <li>Using the <strong class="text-white">max</strong> as aggregating function, you are checking the <strong class="text-white">"worst case scenario"</strong>.</li>
                <li>Using the <strong class="text-white">min</strong> as aggregating function, you are checking the <strong class="text-white">"best case scenario"</strong>.</li>
              </ul>
            </div>
            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'bias/upload_freqvsfreq.html' %}
  <div class="row {{ d_params }}" id="selected_params">
    <div class="col d-flex justify-content-center">
      <div class="card card-mirai animated w-100" style="animation-delay: .3s">
        <div class="card-header text-uppercase">
          Selected Parameters:
        </div>
        <div class="card-body d-flex row">
          <div class="col-md-4">
            {% if 'distance' in sel_params %}
              {% if sel_params['distance'] == 'JS' %}
                <p><strong class="text-white">Distance:</strong> JSDivergence</p>
              {% elif sel_params['distance'] == 'TVD' %}
                <p><strong class="text-white">Distance:</strong> TotalVariation</p>
              {% endif %}
            {% endif %} 
          </div>
          <div class="col-md-4">
            {% if 'agg_func' in sel_params %}
              <p><strong class="text-white">Aggregation function:</strong> {{sel_params['agg_func']}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if sel_params['thr'] == None %}
              <p><strong class="text-white">Automatic threshold:</strong> {{sel_params['a1_param']}}</p>
            {% elif 'thr' in sel_params %}
              <p><strong class="text-white">Threshold:</strong> {{sel_params['thr']}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if 'target_type' in sel_params %}
              <p><strong class="text-white">Target variable type:</strong> {{sel_params['target_type']}}</p>
            {% endif %}
            {% if 'nbins' in sel_params %}
              <p><strong class="text-white">Number of bins:</strong> {{sel_params['nbins']}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if 'predictions' in sel_params %}
              <p><strong class="text-white">Predictions:</strong> {{sel_params['predictions']}}</p>
            {% endif %}
            {% if 'root_var' in sel_params %}
              <p><strong class="text-white">Root variable:</strong> {{sel_params['root_var']}}</p>
            {% endif %}
          </div> 
          <div class="col-md-4">
            {% if 'cond_vars' in sel_params %}
              <p><strong class="text-white">Conditioning variables:</strong> {{sel_params['cond_vars']}}</p>
            {% endif %}          
          </div>
        </div>
        <div class="card-arrow">
          <div class="card-arrow-top-left"></div>
          <div class="card-arrow-top-right"></div>
          <div class="card-arrow-bottom-left"></div>
          <div class="card-arrow-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row {{ d_params }}">
    <div class="col">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-3">
          <a href="/bias/freqvsfreq/results" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100 animated" role="button" data-dismiss="modal">Run Analysis</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/handle_parameters.js') }}"></script>
<script type="text/javascript">
function handle_agg_funcs() {
  let data = new FormData();
  var rootvar = document.getElementById("root_var");
  var selected_option = rootvar.options[rootvar.selectedIndex];
  data.append("rv_selected", selected_option.value);
  const freqvsfreq_url = "http://" + "{{ local_ip }}" + ":80/bias/freqvsfreq";
  
  fetch(freqvsfreq_url, {
    "method": "POST",
    "body": data
  })
  .then((response) => response.json())
  .then((data) => {
    // Handle the received data
    // If the response is "True", show only the "Max" button and select it
    // If the response is "False", enable all buttons
    const buttons = document.querySelectorAll('input[name="agg_func"]');
    if (data.response === "True") {
      buttons.forEach(button => {
        button.disabled = true;
      });
      document.getElementById("agg_func2").checked = true;
    } else {
      buttons.forEach(button => {
        button.disabled = false;
      });
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
}

function display_thr() {
  var auto_thr = document.getElementById("auto_thr")
  var params = document.getElementById("a1_params")
  if (auto_thr.checked == true) {
    params.classList.remove("d-none");
  } else {
    params.classList.add("d-none");
  }
};

function display_nbins() {
  var target_type1 = document.getElementById("target_type1")
  var target_type2 = document.getElementById("target_type2")
  var nbins = document.getElementById("binning")
  if (target_type2.checked == true) {
    nbins.classList.remove("d-none");
  } else if (target_type1.checked == true) {
    nbins.classList.add("d-none");
  }
};

document.addEventListener("DOMContentLoaded", function() {
    var disabfromroot = document.getElementById("root_var");
    disabfromroot.addEventListener("change", handle_agg_funcs);
    var auto_thr = document.getElementById("auto_thr");
    auto_thr.addEventListener("change", display_thr)
    var tgtype1= document.getElementById("target_type1");
    tgtype1.addEventListener("change", display_nbins)
    var tgtype2= document.getElementById("target_type2");
    tgtype2.addEventListener("change", display_nbins)
});

</script>
{% endblock %}
