{% extends 'bias/home.html' %}

{% block title %}
BRIO - Bias Assessment - FreqvsRef
{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col themed-grid-col">
      <div class="row">
        <div class="py-3 my-2">
          <h1 class="text-white text-start rajdhani-bold top-logo {{ animated }} text-uppercase">Freq vs Ref Analysis</h1>
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <div class="card card-mirai {{ animated }} mb-3">
            <div class="card-body">
              <p>Check how much the predictions for the target variable differ with respect to a reference distribution provided as input, overall and conditioning to the categories of other selected predictors.</p>
              <ul class="mb-0">
                <li>Using the <strong class="text-white">max</strong> as aggregating function, you are checking the <strong class="text-white">"worst case scenario"</strong>.</li>
                <li>Using the <strong class="text-white">min</strong> as aggregating function, you are checking the <strong class="text-white">"best case scenario"</strong>.</li>
              </ul>
            </div>
            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
          </div>

          <div class="card card-mirai {{ animated }}">
            <div class="card-header text-uppercase">
              Insert Analysis Title:
            </div>
            <div class="card-body">
              <div class="col mb-3">
                <label for="name">Enter a descriptive name for your analysis</label>
                <input type="text" id="name" name="name" class="w-100 p-1 px-2" style="color-scheme: dark;" required minlength="2"/>
              </div>
            </div>
            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% include 'bias/upload_freqvsref.html' %}
  <div class="row {{ d_params }}" id="selected_params">
    <div class="col d-flex justify-content-center">
      <div class="card card-mirai animated w-100" style="animation-delay: .3s">
        <div class="card-header text-uppercase">
          Selected Parameters:
        </div>
        <div class="card-body d-flex row">
          <div class="col-md-4">
            {% if 'distance' in sel_params %}
              <p><strong class="text-white">Distance:</strong> {{sel_params['distance']}}</p>
            {% endif %} 
          </div>
          <div class="col-md-4">
            {% if 'adjust_div' in sel_params %}
              <p><strong class="text-white">Empty bin adjustment:</strong> {{sel_params['adjust_div']}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if sel_params['thr'] == None %}
              <p><strong class="text-white">Automatic threshold:</strong> {{sel_params['a1_param']}}</p>
            {% elif 'thr' in sel_params %}
              <p><strong class="text-white">Threshold:</strong> {{sel_params['thr']}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if 'target_type' in sel_params %}
              <p><strong class="text-white">Target variable type:</strong> {{sel_params['target_type']}}</p>
            {% endif %}
            {% if 'nbins' in sel_params %}
              <p><strong class="text-white">Number of bins:</strong> {{sel_params['nbins']}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if 'predictions' in sel_params %}
              <p><strong class="text-white">Predictions:</strong> {{sel_params['predictions']}}</p>
            {% endif %}
            {% if 'root_var' in sel_params %}
              <p><strong class="text-white">Root variable:</strong> {{sel_params['root_var']}}</p>
            {% endif %}
          </div> 
          <div class="col-md-4">
            {% if 'cond_vars' in sel_params %}
              <p><strong class="text-white">Conditioning variables:</strong> {{sel_params['cond_vars']}}</p>
            {% endif %}          
          </div>
        </div>
        <div class="card-arrow">
          <div class="card-arrow-top-left"></div>
          <div class="card-arrow-top-right"></div>
          <div class="card-arrow-bottom-left"></div>
          <div class="card-arrow-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row {{ d_params }}">
    <div class="col">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-3">
          <a href="/bias/freqvsref/results" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100 animated" role="button">Run Analysis</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/handle_parameters.js') }}"></script>
<script type="text/javascript">
async function handle_refs() {
    let data = new FormData();
    const rootvar = document.getElementById("root_var");
    const selected_option_rv = rootvar.options[rootvar.selectedIndex];
    const predvar = document.getElementById("predictions");
    const selected_option_pr = predvar.options[predvar.selectedIndex];
    const target_type1 = document.getElementById("target_type1");
    const target_type2 = document.getElementById('target_type2');
    let selected_option_tt = '';
    if (target_type1.checked) {
        selected_option_tt = target_type1;
    } else {
        selected_option_tt = target_type2;
    }
    const nbins = document.getElementById("binning");
    const selected_option_nb = nbins.querySelector('input[name="nbins"]');

    if (selected_option_pr.value !== "id" && selected_option_rv.value !== "id") {
      data.append("rv_selected", selected_option_rv.value);
      data.append("pr_selected", selected_option_pr.value);

      data.append("tt_selected", selected_option_tt.value);
      data.append("nb_selected", selected_option_nb.value);
      const freqvsref_url = window.location.origin + "/bias/freqvsref";
      const preds_id = document.getElementById("ref_dist");

      const response = await fetch(freqvsref_url, {"method": "POST","body": data})
      if (!response.ok) {
          console.log(`Response status: ${response.status}`);
      } else {
          const data = await response.json();
          preds_id.innerHTML = data.response_refs;
      }
  } 
}

async function handle_agg_funcs() {
    let data = new FormData();
    const rootvar = document.getElementById("root_var");
    const selected_option_rv = rootvar.options[rootvar.selectedIndex];
    const predvar = document.getElementById("predictions");
    const selected_option_pr = predvar.options[predvar.selectedIndex];
    if (selected_option_pr.value !== predvar.options[0].value && selected_option_rv.value !== rootvar.options[0].value) {
    data.append("rv_selected", selected_option_rv.value);
    data.append("pr_selected", selected_option_pr.value);
    const freqvsref_url = window.location.origin + "/bias/freqvsref";
    const preds_id = document.getElementById("ref_dist");

    const response = await fetch(freqvsref_url, {"method": "POST","body": data})
    if (!response.ok) {
      console.log(`Response status: ${response.status}`);
    } else {
      const data = await response.json();
      preds_id.innerHTML = data.response_refs;
    }
  }
}

function display_thr() {
  var auto_thr = document.getElementById("auto_thr")
  var params = document.getElementById("a1_params")
  console.log(auto_thr.checked)
  if (auto_thr.checked == true) {
    params.classList.remove("d-none");
  } else {
    params.classList.add("d-none");
  }
};

function display_nbins() {
  var target_type1 = document.getElementById("target_type1")
  var target_type2 = document.getElementById("target_type2")
  var nbins = document.getElementById("binning")
  if (target_type2.checked == true) {
    nbins.classList.remove("d-none");
  } else if (target_type1.checked == true) {
    nbins.classList.add("d-none");
  }
};

document.addEventListener("DOMContentLoaded", function() {
    var fromroot = document.getElementById("root_var");
    var frompred = document.getElementById("predictions");
    fromroot.addEventListener("change", handle_refs);
    frompred.addEventListener("change", handle_refs);
    var auto_thr = document.getElementById("auto_thr");
    auto_thr.addEventListener("change", display_thr)
    var tgtype1= document.getElementById("target_type1");
    tgtype1.addEventListener("change", display_nbins)
    var tgtype2= document.getElementById("target_type2");
    tgtype2.addEventListener("change", display_nbins)
});
</script>
{% endblock %}