{% extends 'bias/base.html' %}

{% block title %}
BRIO - Bias Assessment
{% endblock %}

{% block content %}

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col themed-grid-col">
      <div class="row">
        <div class="py-3 my-2">
          <h1 class="text-white text-start rajdhani-bold top-logo {{ animated }}">BIAS ASSESSMENT</h1>
        </div>
      </div> 
      {% include 'bias/upload_home.html' %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-3">
      <a href="/bias/freqvsfreq" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100 {{ animated }} {% if df_used == '' %} btn-disabled {% endif %}" role="button" >Freq vs freq analysis</a>
      <a href="/bias/freqvsref" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100 {{ animated }} {% if df_used == '' %} btn-disabled {% endif %}" role="button">Freq vs ref analysis</a>
    </div>
  </div>
</div>

{% endblock %}


