{% block content %}
<div class="row">
  <div class="col-xl-6 themed-grid-col mt-xl-0 mt-4 d-flex flex-column justify-content-between">
    <div class="card card-mirai {{ animated }}">
      <div class="card-header text-uppercase">
        Upload Dataframe
      </div>
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <form method="POST" action="{{ url_for('bias.home_bias') }}" enctype="multipart/form-data">
            <p class="card-text">Upload the Dataframe to analyze.</p>
              <div class="form-group row mb-2 mx-auto">
                <label for="client_id" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Client:</label>
                <select class="selectpicker w-100 px-0 mb-2" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="client_id" id="client_id" required>
                    <option value="" selected disabled>Select a Client</option>
                    {% for client in clients %}
                        <option value="{{ client['uuid'] }}">{{ client['name'] }}</option>
                    {% endfor %}
                </select>
                <label for="project_id" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Project:</label>
                <select class="selectpicker w-100 px-0 mb-2" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="project_id" id="project_id" required>

                </select>

                <label for="dataset_id" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Select a Dataframe:</label>
                <select class="selectpicker w-100 px-0 mb-2" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="project_id" id="dataset_id">
                  <option>file1</option>
                  <option>file2</option>
                  <option>file3</option>

                </select>

                <label for="dataset" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Or upload a new Dataframe:</label>
                <input type="file" class="form-control form-control-sm mb-3 rajdhani-bold" name="dataset" id="dataset">
              </div>
              <button id="file_upload" type="submit" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100  btn-disabled">Upload</button>
          </form>
        </div>
      </div>
      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>


    <div class="card card-mirai {{ animated }} mt-4">
      <div class="card-header text-uppercase">
        Currently selected dataframe
      </div>
      <div class="card-body d-flex flex-column justify-content-between {{ status }}">
        <div>
          <p class="card-text">{{ df_used }}</p>
          <a href="/bias?reset=True" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100" role="button">Reset</a>
        </div>
      </div>
      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 themed-grid-col">
    <div class="card card-mirai {{ animated }}">
      <div class="card-header text-uppercase">
        Preprocessing pipeline (optional)
      </div>
      <div class="card-body d-flex flex-column justify-content-between" style="min-height: 250px;">
        <div>
          <div class="card-text">
            <p>You can upload here a raw dataset, a preprocessing pipeline in the form of a jupyter notebook (packages you use must already be installed), and some artifacts.</p>
            <p>Please note that if you use this customization tool, <u>the original dataframe will be overridden</u>.</p>
            <p>Notebooks input can be accessed at <strong class="text-white">os.path.abspath("uploads/input_file")</strong>.</p>
            <p>Output dataframe should be a <u>pickle</u> file located at <strong class="text-white">os.path.abspath("uploads/output_file")</strong>.</p>
            <form method="POST" action="{{ url_for('bias.home_bias') }}" enctype="multipart/form-data">
              <div class="form-group row mb-2 mx-auto">
                <label for="dataset_custom" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Dataset:</label>
                <input type="file" class="form-control form-control-sm mb-2 rajdhani-bold" name="dataset_custom" id="dataset_custom"><br> 
                
                <label for="notebook" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Notebook:</label>
                <input type="file" class="form-control form-control-sm mb-2 rajdhani-bold" name="notebook" id="notebook">

                <label for="artifacts" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Artifacts:</label>
                <input type="file" class="form-control form-control-sm mb-3 rajdhani-bold" name="artifacts" id="artifacts" multiple>

              </div>
              <button type="submit" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100 btn-disabled" id="upload_preprocess">Upload</button>
            </form>
          </div>
        </div>
      </div>
      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
var projects = {};
{% for client in clients %}
    projects['{{ client['uuid'] }}'] = {};
    {% for project_id in client['projects'] %}
        projects['{{ client['uuid'] }}']['{{ project_id }}'] = '{{ client['projects'][project_id]['name']}}';
    {% endfor %}
{% endfor %}

$(document).ready(function() {
    $('#client_id').change(function() {
        $('#file_upload').addClass('btn-disabled');
        $('#upload_preprocess').addClass('btn-disabled');
        var client_id = $(this).val();

        var options = '<option value="" selected disabled>Select a Project</option>';
        for (var project_id in projects[client_id]) {
            options += '<option value="' + project_id + '">' + projects[client_id][project_id] + '</option>';
        }

        $('#project_id').empty().append(options).selectpicker("refresh");
    });

    $('#project_id').change(function() {
        $('#file_upload').removeClass('btn-disabled');
        $('#upload_preprocess').removeClass('btn-disabled');
    });
});
</script>
{% endblock %}

