{% block content %}
<div class="row">
  <div class="col-xl-6 themed-grid-col mt-xl-0 mt-4 d-flex flex-column justify-content-between">
    <div class="card card-mirai {{ animated }}">
      <div class="card-header text-uppercase">
        Upload Dataframe
      </div>
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <form method="POST" action="{{ url_for('bias.home_bias') }}" enctype="multipart/form-data">
            <p class="card-text">Upload the Dataframe to analyze.</p>
              <div class="form-group row mb-2 mx-auto">
                <label for="client" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Client:</label>
                <select class="selectpicker w-100 px-0 mb-2" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="client" id="client" required>
                  <option value="dev">dev@MIRAI</option>
                  <option value="CRIF">CRIF</option>
                  <option value="Immanence">Immanence</option>
                  <option value="Alkemy">Alkemy</option>
                  <option value="P4I">P4I</option>
                  <option value="Bacon Ipsum">Bacon Ipsum</option>
                </select>
                <label for="project" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Project:</label>
                <select class="selectpicker w-100 px-0 mb-2" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="project" id="project" required>
                  <option value="crif_risk_1">Standalone Analysis</option>
                  <option value="crif_risk_1">CRIF Risk Report #1</option>
                  <option value="crif_risk_2">CRIF Risk Report #2</option>
                  <option value="crif_risk_3">CRIF Risk Report #3</option>
                  <option value="crif_risk_4">CRIF Risk Report #4</option>
                  <option value="crif_risk_5">CRIF Risk Report #5</option>
                  <option value="crif_risk_6">CRIF Risk Report #6</option>
                  <option value="crif_risk_7">CRIF Risk Report #7</option>
                  <option value="crif_risk_8">CRIF Risk Report #8</option>
                </select>
                <label for="dataset" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Dataframe:</label>
                <input type="file" class="form-control form-control-sm mb-3 rajdhani-bold" name="dataset" id="dataset">
              </div>
              <button type="submit" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100">Upload</button>
          </form>
        </div>
      </div>
      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>


    <div class="card card-mirai {{ animated }} mt-4">
      <div class="card-header text-uppercase">
        Currently uploaded dataframe
      </div>
      <div class="card-body d-flex flex-column justify-content-between {{ status }}">
        <div>
          <p class="card-text">{{ df_used }}</p>
          <a href="/bias?reset=True" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100" role="button">Reset</a>
        </div>
      </div>
      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 themed-grid-col">
    <div class="card card-mirai {{ animated }}">
      <div class="card-header text-uppercase">
        Preprocessing pipeline (optional)
      </div>
      <div class="card-body d-flex flex-column justify-content-between" style="min-height: 250px;">
        <div>
          <div class="card-text">
            <p>You can upload here a raw dataset, a preprocessing pipeline in the form of a jupyter notebook (packages you use must already be installed), and some artifacts.</p>
            <p>Please note that if you use this customization tool, <u>the original dataframe will be overridden</u>.</p>
            <p>Notebooks input can be accessed at <strong class="text-white">os.path.abspath("uploads/input_file")</strong>.</p>
            <p>Output dataframe should be a <u>pickle</u> file located at <strong class="text-white">os.path.abspath("uploads/output_file")</strong>.</p>
            <form method="POST" action="{{ url_for('bias.home_bias') }}" enctype="multipart/form-data">
              <div class="form-group row mb-2 mx-auto">
                <label for="dataset_custom" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Dataset:</label>
                <input type="file" class="form-control form-control-sm mb-2 rajdhani-bold" name="dataset_custom" id="dataset_custom"><br> 
                
                <label for="notebook" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Notebook:</label>
                <input type="file" class="form-control form-control-sm mb-2 rajdhani-bold" name="notebook" id="notebook">

                <label for="artifacts" class="col-form-label col-form-label-sm rajdhani-bold ps-0 text-miraiblu">Artifacts:</label>
                <input type="file" class="form-control form-control-sm mb-3 rajdhani-bold" name="artifacts" id="artifacts" multiple>

              </div>
              <button type="submit" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100" id="upload_preprocess">Upload</button>
            </form>
          </div>
        </div>
      </div>
      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

