{% extends 'admin/base.html' %}


{% block head %}
{% endblock %}

{% block title %}
MIRAI Toolbox - Create New Project
{% endblock %}

{% block content %}

<div class="container-fluid pt-5">
  <div class="row mb-3">
    <div class="col-lg-3 themed-grid-col"></div>
    <div class="col-lg-6 themed-grid-col">
      <div class="row">
        <div class="py-3 my-2">
          <h1 class="text-white text-start rajdhani-bold top-logo animated">Create New Project</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method="POST" action="{{ url_for('new_project.new_project') }}" enctype="multipart/form-data">
            <div class="card card-mirai animated mb-3">
              <div class="card-header text-uppercase">
                Project Details
              </div>
              <div class="card-body d-flex flex-column justify-content-start" style="z-index: 1000;"> 
                <div class="row">
                  <div class="col mb-3">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="w-100 p-1 px-2" style="color-scheme: dark;" required minlength="2"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col mb-3">
                    <label class="align-self-center" for="client">Client:</label>
                    <select class="selectpicker w-100" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="client" id="client" required>
                      {% for client in clients %}
                            <option value="{{ client['uuid'] }}">{{ client['name'] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
{#                <div class="row">#}
{#                  <div class="col mb-3">#}
{#                    <label class="align-self-center" for="analysis">Analysis:</label>#}
{#                    <select class="selectpicker w-100" data-style="btn-outline-primary btn-mirai rajdhani-bold" name="analysis" id="analysis" multiple required>#}
{#                      <option value="research">Risk for Gender</option>#}
{#                      <option value="admin">Risk for Age</option>#}
{#                      <option value="dev">Risk for Profession</option>#}
{#                      <option value="dp">Risk for Zip Code</option>#}
{#                      <option value="gp">Bias Gender FreqVsFreq</option>#}
{#                      <option value="gp">Bias Age FreqVsFreq</option>#}
{#                      <option value="gp">Bias Gender FreqVsRef</option>#}
{#                      <option value="gp">Bias Age FreqVsRef</option>#}
{#                    </select>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                  <div class="col mb-3">#}
{#                    <label class="align-self-center" for="selected_analysis">Selected Analysis:</label>#}
{#                    <textarea class="form-control w-100" rows="6" name="selected_analysis" id="selected_analysis" placeholder="Nothing Selected" readonly></textarea>#}
{#                  </div>#}
{#                </div>#}
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100">Create Project</button>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3 themed-grid-col"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}

{% endblock %}

