{% extends 'base.html' %}

{% block title %}
MIRAI Toolbox
{% endblock %}


{% block header %}
<nav class="navbar navbar-dark navbar-expand-lg navbar-mirai shadow fixed-top animated">
  <div class="container-fluid">
    <a class="navbar-brand brand-mirai" href="#">
      <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pe-2">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item pe-2 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="brioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BRIO
          </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="brioDropdown">
            <li><a class="dropdown-item" href="/bias">BIAS</a></li>
            <li><a class="dropdown-item" href="/risk">RISK</a></li>
            <li><a class="dropdown-item" href="/opacity">OPACITY</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://github.com/DLBD-Department/BRIO_x_Alkemy" target="_blank">BRIOxALKEMY</a></li>
            <li><a class="dropdown-item" href="https://sites.unimi.it/brio/" target="_blank">BRIO Project</a></li>
          </ul>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link" href="#">ACCOUNT</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="corner d-none d-lg-block">
    <img src="{{ url_for('static', filename='img/corner.svg') }}">
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid pt-5">
  <div class="row mb-3">
    <div class="col-lg-3 themed-grid-col"></div>
    <div class="col-lg-6 themed-grid-col">
      <div class="row">
        <div class="py-3 my-2 text-center">
          <img class="img-fluid top-logo animated" src="{{ url_for('static', filename='img/logo_big.svg') }}">
        </div>
      </div> 

      <div class="row">
        <div class="col">
          <div class="card card-mirai animated">
            <div class="card-body">
              <p>AI systems have the power to transform industries and enhance lives, but they  also pose significant challenges. From biased algorithms that perpetuate social inequities to opaque decision-making processes that obscure accountability, the risks are substantial. The MIRAI Toolbox is designed to help you:</p>
              <ul>
                <li><strong class="text-white">Identify Bias: </strong>learn to detect and understand biases in AI models and datasets.</li>
                <li><strong class="text-white">Assess Risk: </strong>evaluate the potential risks associated with deploying AI systems in various contexts.</li>
                <li><strong class="text-white">Increase Transparency: </strong>gain insights into methods for making AI processes more transparent and explainable.</li>
              </ul>
            </div>

            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-xl-8 themed-grid-col mt-4">
          <div class="card card-mirai animated">
            <div class="card-header">
              BRIO ONE
            </div>
            <div class="card-body d-flex flex-column justify-content-between" style="min-height: 250px;">
              <div>
                <h5 class="card-title text-mirai rajdhani-bold">The All-In-One tool for Bias, Risk and Opacity</h5>
                <p class="card-text">Brio One is our online tool you can use to assess Bias, Risk and Opacity in your Machine Learning models.</p>
              </div>
              <div class="d-grid gap-2">
                <a href="/bias" class="btn btn-outline-primary btn-mirai rajdhani-bold" role="button">Bias Assessment</button></a>
                <a href="/opacity" class="btn btn-outline-primary btn-mirai rajdhani-bold" role="button">Opacity Assessment</button></a>
              </div>
            </div>
            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 themed-grid-col mt-4">
          <div class="card card-mirai animated">
            <div class="card-header">
              BRIOxALKEMY
            </div>
            <div class="card-body d-flex flex-column justify-content-between" style="min-height: 250px;">
              <div>
                <h5 class="card-title text-mirai rajdhani-bold">A bias and risk detection tool for ML models</h5>
                <p class="card-text">Developed within the scope of the industrial partnership between BRIO and Alkemy.</p>
              </div>
              <div class="d-grid gap-2">
                <a href="https://github.com/DLBD-Department/BRIO_x_Alkemy" class="btn btn-outline-primary btn-mirai rajdhani-bold" role="button" target="_blank">Git Repo</a>
              </div>
            </div>
            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-3 themed-grid-col"></div>
  </div>

</div>
{% endblock %}


