{% extends 'bias/base.html' %}


{% block title %}
MIRAI Toolbox - Under Construction
{% endblock %}


{% block header %}
<nav class="navbar navbar-dark navbar-expand-lg navbar-mirai shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand brand-mirai" href="/">
      <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pe-2">
          <a class="nav-link " aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item pe-2 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="brioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BRIO
          </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="brioDropdown">
            <li><a class="dropdown-item" href="/bias">BIAS</a></li>
            <li><a class="dropdown-item" href="/risk">RISK</a></li>
            <li><a class="dropdown-item" href="/opacity">OPACITY</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://github.com/DLBD-Department/BRIO_x_Alkemy" target="_blank">BRIOxALKEMY</a></li>
            <li><a class="dropdown-item" href="https://sites.unimi.it/brio/" target="_blank">BRIO Project</a></li>
          </ul>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link" href="#">ACCOUNT</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="corner d-none d-lg-block">
    <img src="{{ url_for('static', filename='img/corner.svg') }}">
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="container-fluid underconstruction pt-5">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row mb-3">
          <div class="py-3 my-2">
            <h1 class="text-white text-start rajdhani-bold top-logo animated">UNDER CONSTRUCTION</h1>
          </div>
          <div class="col-xl-4 themed-grid-col">
            <div class="row">
              <div class="col">
                <div class="card card-mirai card-mirai-dark animated">
                  <div class="card-body">
                    <p>Sorry for the mess!</p>
                    <p>We know it’s taking a while but sit tight and we’ll be with you soon.</p>
                    <p>You’ll be able to use our new tool in the next days. In the meantime, check out our dashboard.</p>
                    <a href="/" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100" role="button">Back</button></a>
                  </div>

                  <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}

