{% extends 'bias/base.html' %}


{% block title %}
MIRAI Toolbox - Under Construction
{% endblock %}

{% block content %}

<div class="container-fluid underconstruction pt-5">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row mb-3">
          <div class="py-3 my-2">
            <h1 class="text-white text-start rajdhani-bold top-logo animated">UNDER CONSTRUCTION</h1>
          </div>
          <div class="col-xl-4 themed-grid-col">
            <div class="row">
              <div class="col">
                <div class="card card-mirai card-mirai-dark animated">
                  <div class="card-body">
                    <p>Sorry for the mess!</p>
                    <p>We know it’s taking a while but sit tight and we’ll be with you soon.</p>
                    <p>You’ll be able to use our new tool in the next days. In the meantime, check out our dashboard.</p>
                    <a href="/" class="btn btn-outline-primary btn-mirai rajdhani-bold w-100" role="button">Back</button></a>
                  </div>

                  <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}

